{% extends "layouts/base.njk" %} 

{% block content %}
  <article class="wrapper layout-grid">
    <h1 class="page-header layout-span">{{ title }}</h1>
    <div class="layout-span | content-main flow">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}