.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

/* https://css-tricks.com/inclusively-hidden/ */
.visually-hidden:not(:focus) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	border: 0;
	block-size: 1px;
	inline-size: 1px;
	padding: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}
