*,
*::before,
*::after {
	box-sizing: border-box;
}

*::selection {
	background-color: var(--color-highlight);
}

/* Ref: https://andy-bell.co.uk/a-modern-css-reset/ */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
