<section class="card-list">
  <ul>
    <li><a target="_blank" href="https://www.11ty.dev/docs/pagination/">11ty Pagination</a></li>
    <li><a target="_blank" href="https://www.11ty.dev/docs/plugins/navigation/">11ty Navigation</a></li>
    <li><a target="_blank" href="https://www.11ty.dev/docs/plugins/image/">11ty Image</a></li>
    <li><a target="_blank" href="https://www.11ty.dev/docs/plugins/rss/">11ty RSS</a></li>
    <li><a target="_blank" href="https://www.11ty.dev/docs/plugins/syntaxhighlight/">11ty Syntax Highlighting</a></li>
    <li><a target="_blank" href="https://www.npmjs.com/package/@11tyrocks/eleventy-plugin-lightningcss">Eleventy Plugin: Lightning CSS</a></li>
    <li><a target="_blank" href="https://www.npmjs.com/package/markdown-it">Markdown-it</a></li>
    <li><a target="_blank" href="https://www.npmjs.com/package/markdown-it-footnote">Markdown-it Footnote</a></li>
    <li><a target="_blank" href="https://www.npmjs.com/package/markdown-it-deflist">Markdown-it Definition Lists</a></li>
    <li><a target="_blank" href="https://www.npmjs.com/package/markdown-it-sub">Markdown-it Sub</a></li>
    <li><a target="_blank" href="https://www.npmjs.com/package/markdown-it-sup">Markdown-it Sup</a></li>
    <li><a target="_blank" href="https://www.npmjs.com/package/markdown-it-eleventy-img">Markdown-it-eleventy-img</a></li>
  </ul>
</section>